<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>OTP Verification</title>
    <style>
      body { font-family: 'Poppins', sans-serif; background-color: #f4f4f4;
      margin: 0; padding: 0; } .container { max-width: 600px; margin: 0 auto;
      background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow:
      0 0 10px rgba(0, 0, 0, 0.1); border-top: 5px solid #cb3c04; } header {
      text-align: center; } .logo { height: 80px; } .content { text-align: left;
      padding: 20px; } .otp { background-color: #f3f4fb; color: #2e3964;
      font-size: 24px; font-weight: 700; text-align: center; padding: 15px;
      border-radius: 8px; margin: 20px 0; } .footer { text-align: left;
      margin-top: 30px; border-top: 1px solid #eaeaea; padding-top: 10px; }
      .footer p { margin: 5px 0; color: #666666; font-size: 12px; } .footer a {
      color: #cb3c04; text-decoration: none; } @media only screen and
      (max-width: 600px) { .container { padding: 10px; } .otp { font-size: 20px;
      } }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <p>Dear user,</p>
        <div class='otp'>{{otp}}</div>
        <p>
          This OTP will expire in 60 minutes. If you did not initiate this
          request, please contact me at
          <a
            href='mailto:jimmy.ramani0912@gmail.com'
          >jimmy.ramani0912@gmail.com</a>
        </p>
        <p>Thank you,</p>
        <p>Jimmy Ramani</p>
        <a href='https://jimmy-ramani-0912.github.io/portfolio/'>Portfolio</a>
      </div>
      <div class='footer'>
        <p>Reach us out:</p>
        <p>
          <img
            src='https://static.vecteezy.com/system/resources/previews/016/716/480/original/whatsapp-icon-free-png.png'
            alt='WhatsApp'
            style='vertical-align: middle; width: 20px; height: 20px;'
          />
          +91 7202929303
        </p>
        <p>
          <img
            src='https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png'
            alt='Email'
            style='vertical-align: middle; width: 20px; height: 20px;'
          />
          jimmy.ramani0912@gmail.com
        </p>
      </div>
    </div>
  </body>
</html>